
.toolbar {
  background-color: $default-gray;
  width: 100%;
  height: $toolbar-height;

  .option {
    display: table-cell;
    color: white;
    height: $toolbar-height;
    width: $option-width;
    text-align: center;
    vertical-align: middle;
    font-family: $option-font-family;
    font-size: $option-font-size;

    .badge-red {
      background-color: $badge-red;
      color: white;
      font-size: 16px;
      height: $badge-diameter;
      width: $badge-diameter;
      border-radius: 50%;
      text-align: center;
      vertical-align: middle;
      margin-bottom: 35px;
      display: inline-block;
      padding: 2px 2px 2px 2px
    }

    &:hover {
      height: $toolbar-height - 4px;
      background-color: $selection-gray;
      border-bottom: 4px $green-aqua solid;
    }
  }

  .fa {
    color: $icon-color;
    margin-right: 7px;
  }
}
