<div class="menu-box">
  <div class="header" ng-bind = "title"> Menu Box

  </div>

  <div class="item">
    <i class="fa fa-envelope-o fa-fw text" aria-hidden="true">
    </i> Messages
    <div class = "badge-item">24</div>
  </div>

  <div class="item">
    <i class="fa fa-paper-plane-o fa-fw text" aria-hidden="true">
    </i> Invites
    <div class = "badge-item">3</div>
  </div>

  <div class="item">
    <i class="fa fa-calendar fa-fw text" aria-hidden="true">
    </i> Events
    <div class = "badge-item">5</div>
  </div>

  <div class="item">
    <i class="fa fa-cog fa-fw text" aria-hidden="true">
    </i> Account Settings
  </div>

  <div class="item">
    <i class="fa fa-line-chart fa-fw text" aria-hidden="true">
    </i> Statistics
  </div>

</div>
