.toolbar {
  background-color: #232638;
  width: 100vw;
  height: 6vh; }
  .toolbar .option {
    display: inline-block;
    color: white;
    font-family: sans-serif;
    font-size: 12pt;
    height: 5vh;
    width: 15vw;
    border-style: solid;
    border-color: #232638; }
    .toolbar .option span .badge-red {
      background-color: red;
      color: white;
      font-size: 10px; }
    .toolbar .option:hover {
      border-color: #4B4E63;
      background-color: #4B4E63;
      border-bottom-color: green; }
